<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FirstWebmagicPrj/src/com/lgh/prj/firstwebmagic/FirstWebMagicMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lgh.prj.firstwebmagic.FirstWebMagicMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FirstWebmagicPrj"/>
</launchConfiguration>
